.project-desc {
    margin: 0 15% 50px;
}

// project title 
.title {
    margin: 75px 0 0;
}

// toolkit 
span.tools {
    float: right;
    font-size: .9em;
}

// view live button
.button {
    @include button;
    @include sans;
    margin-bottom: 20px;
}

// images of work 
.screenshots {
    img {
        @media #{$small-width} {
            margin-bottom: 10px;
        }
        @media #{$medium-width} {
            margin-bottom: 20px;
        }
    }
}

.section-titles {
    justify-content: flex-start;
    margin: 40px 0 20px;
}

.details {
    margin-bottom: 20px;
    p {
        margin: 0 10px 30px;
    }
}

.wireframes {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media #{$small-width} {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    img {
        margin: 10px 5% 0;
        @media #{$small-width} {
            margin: 10px 2.5% 20px;
        }
        &:first-child {
            max-width: 200px;
        }
        &:last-child {
            width: 500px;
        }
    }
}

// mobile images
.mobile {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0 0;
    picture {
        margin: 0 2%;
        @media #{$small-width} {
            margin: 0 5%;
        }
        @media #{$sm-med-width} {
            margin: 0 2.5%;
        }
        @media #{$large-width} {
            margin: 0 3%;
        }
        @media #{$max-width} {
            margin: 0 5%;
        }
    }
    img {
        max-width: 200px;
        margin-bottom: 10px;
        @media #{$small-width} {
            margin-bottom: 20px;
            width: 125px;
        }
        @media #{$sm-med-width} {
            width: 175px;
        }
        @media #{$medium-width} {
            margin-bottom: 30px;
            width: 200px;
        }
    }
}

.nav-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        max-width: 300px;
        margin-bottom: 10px;
    }
}

.tablet {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
}

.desktop {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    @media #{$small-width} {
        flex-direction: row;
        justify-content: center;
    }
    img {
        width: 98%;
        align-self: center;
        margin: 10px 5% 0;
        max-width: 350px;
        @media #{$small-width} {
            width: 70%;
            margin: 10px 2.5% 20px;
        }
    }
}

.cp-desktop{
    @extend .desktop;
    img{
       width: 98%;
        align-self: center;
        margin: 10px 5% 0;
        max-width: 350px;
        @media #{$small-width} {
            width: 95%;
            margin: 10px 2.5% 20px;
        } 
    }
}

.logos {
    display: flex;
    justify-content: center;
    img {
        margin: 0 5%;
        box-shadow: none;
    }
}

// next previous links
.next-prev {
    display: flex;
    justify-content: space-between;
    margin: 0 15% 50px;
    a {
        font-style: italic;
        border-bottom: 2px solid $text;
        @include transition;
        &:hover {
            color: rgba($colour, .3);
            border-bottom: 2px solid transparent;
        }
    }
}

// gallery of work
.gallery {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 50px 15% 100px;
    h3 {
        margin-bottom: 5px;
    }
    p {
        margin: 5px 0 10px;
    }
    span {
        color: rgba($colour, .3);
    }
    img {
        @media #{$small-width} {
            margin-left: 10%;
            width: 80%;
        }
    }
    @media #{$small-width} {
        margin-left: 15%;
        width: 70%;
    }
        @media #{$medium-width} {
            flex-direction: row;
            flex-wrap: wrap;
    }
}

.work-prev{
    @media #{$medium-width} {
        margin: 0 5%;
          width: calc(80%/2);
    }
}

.gallery .preview {
    a {
        margin: 5px 0 30px;
        @include button;
        @include sans;
        font-size: .95em;
        padding: 8px 15px;
        background: $bg;
        cursor: pointer;
    }
}