@charset "UTF-8";

/* CSS Document */


/* ------------------------------- 
             RESET
 ------------------------------- */

@import "reset";


/* ------------------------------ 
        ACCESSIBILITY 
------------------------------ */

@import 'vars';
@import 'accessibility';

/* ------------------------------ 
            GENERAL
-------------------------------- */

body {
    position: relative;
    font-family: $sans;
    line-height: 1.5;
}

header {
    background:{
        image: url('../images/header-test.png');
        repeat: no-repeat;
        size: cover;
    }
    position: relative;
    @include transition;
    @media #{$small-width} {
        display: flex;
        justify-content: space-between;
    }
    @media #{$large-width}{
        background: none;
    }
    @media #{$max-width} {
        margin: 0 auto;
        max-width: 1200px;
    }
}

a {
    text-decoration: none;
    color: $text;
}

.clear{
    clear: both;
}

/* ------------------------------ 
            LOGO
-------------------------------- */

a.logo {
    display: inline-block;
    margin: 30px;
    @include sans(.4em, 500);
    line-height: 1.2;
    font-size: 1.8em;
    color: rgba($color, .1); //$light;
    @include transition;
    &:hover,
    &:active,
    &:focus {
        cursor: pointer;
        color: $text;
        
    }
    span {
        color: $text;
        @include transition;
    }
}

/* ------------------------------ 
          TEXT
-------------------------------- */

h2 {
    display: inline-block;
    margin-left: 35%;
    @include sans (.2em);
    text-align: center;
    font-size: 1.35em;
    @media #{$medium-width} {
        margin-left: 25%;
    }
}

h3{
  @include sans;
}

h3.view{
    margin: 40px 0 0;
}

p {
    margin: 30px 0;
    font-family: $serif;
    text-align: justify;
    font-size: 1.05em;
}

span.underline {
    display: flex;
    width: 100px;
    margin: 20px 50%;
    border-bottom: 7px solid rgba($color, .3);
    @media #{$small-width} {
        width: 150px;
        margin: 20px 40%;
    }
    @media #{$medium-width} {
        width: 200px;
        margin: 20px 30%;
    }
    @media #{$max-width} {
        margin: 20px 28%;
    }
}

span.bold {
    @include sans(.1em, 500);
    color: $text;
}


/* ------------------------------ 
          NAVIGATION
-------------------------------- */

@import 'nav';

/* ------------------------------ 
          HOME - INTRO
-------------------------------- */

.intro {
    margin: 100px 15%;
    @media #{$small-width} {
        margin: 125px 15%;
    }
    @media #{$medium-width} {
        display: flex;
        justify-content: space-between;
        margin: 100px 0;
        @media #{$large-width} {
            margin: 125px 0;
        }
        @media #{$max-width} {
            margin: 150px auto;
            max-width: 1200px;
        }
        .intro-container {
            //            width: calc((100%/2));
            margin-right: 10%;
            &:first-child {
                flex: 1 0 0;
            }
            &:last-child {
                flex: 2 0 0;
            }
        }
    }
    a {
        border-bottom: 2px solid $text;
        @include transition;
        &:hover,
        &:active,
        &:focus{
            color: $color;
            border-bottom: 2px solid $color;
        }
    }
}

/* ------------------------------ 
            CONTACT
-------------------------------- */

.contact {
    margin: 75px 15% 100px;
    @media #{$small-width} {
        margin: 85px 15% 115px;
    }
    @media #{$medium-width} {
        display: flex;
        margin: 85px 10% 115px 7%;
    }
    @media #{$max-width} {
        margin: 150px 10% 115px;
        max-width: 1200px;
    }
    a {
        display: block;
        text-align: center;
    }
}

.contact-intro {
    @media #{$medium-width} {
        flex: 1 0 0;
    }
    @media #{$large-width} {
        margin-left: 10%;
        flex: 2 0 0;
    }
}


/* ------------------------------ 
            FORM
-------------------------------- */

.form {
    margin-right: 5%;
    padding-top: 30px;
    @media #{$medium-width} {
        flex: 2 0 0;
        padding-left: 10%;
    }
}

@import 'form';

/* ------------------------------ 
            ABOUT
-------------------------------- */

.about-page {
    margin: 75px 15%;
    @media #{$medium-width} {
        img {
            margin-left: 5%;
            width: 75%;
        }
    }
}


/* ------------------------------ 
           WORK
-------------------------------- */

@import 'work';

/* ------------------------------ 
           FOOTER
-------------------------------- */

footer {
    border-top: 7px solid rgba($color, .3);
    width: 100%;
    padding: 25px 5% 50px;
//    background: rgba($color, .3);
    color: $text;
    @media #{$small-width} {
        display: flex;
        justify-content: space-between;
    }
    a {
        color: $text;
    }
    @media #{$max-width} {
        margin: 0 auto;
        max-width: 1200px;
    }
}

ul.social {
    display: flex;
    margin-top: 20px;
    .fa {
        margin: 0 1em 0 .75em;
        color: $text;
        @include transition;
        font-size: 1.2em;
        &:hover,
        &:active,
        &:focus {
            cursor: pointer;
            color: rgba($color, .3);
            transform: scale(1.2);
            
        }
    }
}

.connect{
    margin-left: 10px;
    padding: 20px 0;
    a{
        border-bottom: 2px solid $text;
        @include transition;
        &:hover, 
        &:active,
        &:focus{
             color: $color;
             border-bottom: 2px solid $color;
        }
    }
}